@font-face {
    font-family: messy;
    src: url(font/Mumsies.ttf);
} 

#messageBox {
	font-family: messy;
	width:300px;
	padding-left: 0;
	padding-right: 0;
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	border: none;
	background-color: #FFFFFF;
	font-size: 70px;
}

.button:hover {
	color: #AA3333;
}

#container {
	padding-left: 0;
	padding-right: 0;
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 500px;
}
